.cases_banner{
    background-image: url(https://i.imgur.com/Cn0xAaM.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    margin-bottom: 0;
    .dark-mask{
        background-color: rgba(0, 0, 0, 0.5);
        padding: 6.5rem 0;
    }
    .banner_content{
        color: #fff;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        .lead{
            margin-bottom: 0;
        }
    }
}

.swiper-slide-active{
    width: 100%;
}
.Michael_work{
    background-image: url(https://i.imgur.com/sjLYU28.jpg);
}
.Michael_avatar{
    background-image: url(https://images.unsplash.com/photo-1534471770828-9bde524ee634?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
}
.swiper-button-prev, .swiper-button-next{
    font-size: 2.5rem;
    margin: 0 -20px;
    color: $primary;
    i{
        background-color: #fff;
        border-radius: 100%;
    }
}
.swiper-button-prev:after, .swiper-button-next:after{
    content: '';
}
.swiper-button-prev, .swiper-button-next{
    border: none;
    outline: none;
}

.casesList-items{
    .casesList-item{
        flex: 1 1 20%;
        margin-bottom: 1.875rem; //30px
        box-shadow: 0px 3px 6px #00000029;
    }
    .card-body{
        background-color: rgba(0, 0, 0, 0.03);
        .starLevel{
            margin-bottom: 0.5rem;
            .fa-star, .fa-star:hover{
                color: #F5DF4D;
            }
            .fa-star{
                margin-right: 0.25rem;
            }
        }
    }
    .card-footer{
        padding: 0;
        .card-footerBtn{
            background-color: #fff;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .card-footerBtn:hover{
            background-color: #F0F0F0;
            color: #fff;
            transition-duration: all 0.5s;
        }
        .card-footerBtn:first-child{
            border-bottom-right-radius: 0;
        }
        .card-footerBtn:last-child{
            border-bottom-left-radius: 0;
        }
    }
    .casesImg_01{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/kitchen-item1.jpg?raw=true);
    }
    .casesImg_02{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/livingRoom-item1.jpg?raw=true);
    }
    .casesImg_03{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/bathroom-item1.jpg?raw=true);
    }
    .casesImg_04{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/livingRoom-item4.jpg?raw=true);
    }
    .casesImg_05{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/kitchen-item2.jpg?raw=true);
    }
    .casesImg_06{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/bedroom-item2.jpg?raw=true);
    }
    .casesImg_07{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/bedroom-item4.jpg?raw=true);
    }
    .casesImg_08{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/kitchen-item3.jpg?raw=true);
    }
}
.pagination{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    .casesPagi{
        border: 1px solid $secondary;
        font-weight: 500;
    }
    .casesPagi:hover{
        border: 1px solid $secondary;
        background-color: #F0F0F0;
    }
    .selected, .selected:hover{
        background-color: $secondary;
        color: $primary;
    }
}