.cases_banner{
    background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesList-banner.jpg?raw=true);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    margin-bottom: 0;
    @include mobileM{
        background-size: cover;
    }
    .dark-mask{
        background-color: rgba(0, 0, 0, 0.5);
        height: 400px;
    }
    .banner_content{
        color: #fff;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        .case_bannerTitle{
            @include mobileM{
                font-size: 2.25rem; //36px
            }
            @include mobileS{
                font-size: 2rem; //32px
            }
        }
        .lead{
            margin-bottom: 0;
        }
    }
}

.swiper-slide-active{
    width: 100%;
}
.Michael_work{
    background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/MichaelWang-work.jpg?raw=true);
}
.Michael_avatar{
    background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/MichaelWang-avatar.jpg?raw=true);
}
.swiper-button-prev, .swiper-button-next{
    font-size: 2.5rem;
    margin: 0 -20px;
    color: $primary;
    i{
        background-color: #fff;
        border-radius: 100%;
    }
}
.swiper-button-prev:after, .swiper-button-next:after{
    content: '';
}
.swiper-button-prev, .swiper-button-next{
    border: none;
    outline: none;
}
.fa-chevron-circle-left{
    @include mobileM{
        margin-left: 0.625rem; //10px
    }
}
.fa-chevron-circle-right{
    @include mobileM{
        margin-right: 0.625rem; //10px
    }
}

.casesList-items{
    .casesList-item{
        flex: 1 1 20%;
        margin-bottom: 1.875rem; //30px
        box-shadow: 0px 3px 6px #00000029;
    }
    .card-body{
        background-color: rgba(0, 0, 0, 0.03);
        .starLevel{
            margin-bottom: 0.5rem;
            .fa-star, .fa-star:hover{
                color: #F5DF4D;
            }
            .fa-star{
                margin-right: 0.25rem;
            }
        }
    }
    .card-footer{
        padding: 0;
        .card-footerBtn{
            background-color: #fff;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .card-footerBtn:hover{
            background-color: #F0F0F0;
            color: #fff;
            transition-duration: all 0.5s;
        }
        .card-footerBtn:first-child{
            border-bottom-right-radius: 0;
        }
        .card-footerBtn:last-child{
            border-bottom-left-radius: 0;
        }
    }
    .casesImg_01{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_01.jpg?raw=true);
    }
    .casesImg_02{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_02.jpg?raw=true);
    }
    .casesImg_03{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_03.jpg?raw=true);
    }
    .casesImg_04{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_04.jpg?raw=true);
    }
    .casesImg_05{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_05.jpg?raw=true);
    }
    .casesImg_06{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_06.jpg?raw=true);
    }
    .casesImg_07{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_07.jpg?raw=true);
    }
    .casesImg_08{
        background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_08.jpg?raw=true);
    }
}
.pagination{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    .casesPagi{
        border: 1px solid $secondary;
        font-weight: 500;
    }
    .casesPagi:hover{
        border: 1px solid $secondary;
        background-color: #F0F0F0;
    }
    .selected, .selected:hover{
        background-color: $secondary;
        color: $primary;
    }
}