.logKitchen_wrap{
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include mobileM{
        padding-top: 0;
        padding-bottom: 0;
    }
}
.casesWork_banner{
    background-image: url(https://github.com/aquamanda88/greenspringdesign/blob/gh-pages/img/casesImg_01.jpg?raw=true);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.logKitchen_title{
    @include mobileS{
        font-size: 1.5rem; //24px
    }
}
.designerBtn:hover{
    opacity: 0.8;    
}
.caseWork_avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.shareBtn{
    @include mobileM{
        width: 5rem; //80px
    }
}
